* {
    padding: 0%;
    margin: 0%;
    font-size: 110%;
}

body {
   background-color: #0F3D3E;
   ;
  
}

.imagem {
    border-radius: 600px;
    width: 100px;
}
.acesso2,.acesso1 {
    padding-top: 20px;
}

.contatos {
   text-align: center;
    
}
.cabecalho {
    height: 100%;
    background-color: rgba(25, 25, 26, 0);
}
.nav {
    background-color: rgba(247, 245, 245, 0); 
    margin-top: 1%;
    margin-right: 6px;    
}
.desce {    
    margin-top: 19%; 
}
.textfin1{
    text-decoration: none;
    padding-top: 50px;
    position: relative;
}

.login {
    width: 45%;
    padding-top: 5%;
    margin-left: 27%;
}
.inscreva {
   
    width: 45%;
    margin-top: 3%;
    margin-left: 27%;
}
.senha,.log{
    background-color: rgba(74, 73, 73, 0);
    color: rgb(252, 249, 249);
}
footer {
    margin-top: 12%;
    background-color: rgba(240, 248, 255, 0.044);
}
.grup {
    text-decoration: none;
}
.fivi {
    border-radius: 50%;
}