body{
    background-color: #126e82;
    text-align: center;
    font-size: large;
}
a:link{
    color:white;
}
h1{
    color: rgb(255, 255, 255);
}
.BoxLog{
    background-color: #4ca1a3;
    width: 20em;
    padding: 15px;
    margin:auto;
    border-radius: 15px;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.699);
    color: rgb(255, 255, 255);
}
#Email {
    width: 62%;
}
